body {
    background-color: burlywood;
}

h1 {
    color: black;
    text-align: center ;
    text-size: 20px ;
}

h2{
    color: darkblue;
}

ul {
    color: darkseagreen;
    text-align: right ;
}






















































    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    